!!! 5
%html
  %head
    %title TeeDub Labs
    %link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  %body
    %a(href="https://github.com/moredip/tee-dub-labs")
      %img.fork-flag(src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub")
    = yield

