%h1 Tee-Dub Labs - Projects

-@projects.each do |project|
  %section.project
    - project_info = capture_haml do
      %h1= project.name
      %p= project.description
    - if project.link
      %a{href: project.link}
        = project_info
    - else
      = project_info

